@charset "utf-8";

html {
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #FFFFFF;
    font-size: 1rem;
    color:#353535;
}

h1{
    font-size:2rem;
    color:white;
    font-weight: 20rem;
    text-align:center;
    border: .1rem solid white;
}

h2{
    margin: 0 auto;
    margin-top: 3rem;
    text-align:center;
}

h3{
    margin-top: 4rem;
    text-align:center; 
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    z-index: 2;
}

.site-nav.toggled ul {
	display: block;
}

.menu-toggle {
	display: block;
	border: 0;
	padding: 1rem;
}

header a,  a:visited{
    text-decoration:none;
    color: #000000;
    padding: 1rem;
    border-radius: .5rem;
}

header a:hover{
    text-decoration:none;
    color:#FFFFFF;
    background-color:#000000;
    
}

header li{
    display:flex;
    padding: .5rem;
}

.logo{
    display:flex;
    justify-content:flex-start;
    margin:0 auto; 
    position:relative;
}
@media (min-width: 50em) {
    .menu-toggle {
		display: none;
	}

    header {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        padding: 0 1rem; 
    }
    
	.site-nav {
        flex: 1 1 auto;
        padding: 0 1rem;
	}

	.nav-menu{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 0;
	}
}



.main-image{
    position:relative;
}

.main-image img{
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    min-height:20rem;
}

.main-image h1{
    position:absolute;
    left:0;
    right:0;
    z-index:10;
    top: 30%;
    margin: 0 auto;
    padding: 1rem;
    max-width:30rem;
    width: 100%;
}

.about p{
    padding: 2rem .25rem;
    margin-bottom: 3rem;
    text-align: center;
}

@media (min-width: 50em) {
    .about p{
        max-width:50rem;
        margin: 0 auto;
    }
}

.project-wrapper{
    text-align:center;
}

.project{
    max-width:30rem;
    margin: 0 auto;
}
.project img{
    border: .5 rem solid #000000;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.project-wrapper a{
    text-decoration:none;
    background-color:#000000;
    color:#FFFFFF;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.project-wrapper a:hover, a:focus{
    background-color:#FFFFFF;
    color:#000000;
}

@media (min-width: 50em) {
    .project-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
footer {
    text-align: center;
    margin-top: 80px;
}

footer p {
    padding: 32px;
}

.contact-links {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap:3rem;
}

.contact-links li {
    display: flex;
    align-items: center;
    margin-bottom:3rem;
}

.contact-links a {
    display: flex;
    align-items: center;
    color: #353535;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.contact-links a:hover {
    color: #000000;
}

.contact-links svg {
    margin-right: 0.5rem; /* Space between icon and text */
    fill: #353535;
    transition: fill 0.3s ease;
}
